<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Adding an item to the shop</h1>
    <form id="theform" action="add_item" method="POST" enctype="multipart/form-data">
        Name of item:<input type="text" name="item" class="thedata"><br>
        <br>
        Photo of item:<input type="file" name="uploaded_file" class="thefile">
        <button type="submit">Add item</button>
    </form>   
</body>
</html>